.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(1.5rem) * .5);
    padding-left: calc(var(1.5rem) * .5);
    margin-top: 0;
}

.col {
    display: flex;
    padding: .625rem;

    &.extra-small {
        width: 8.33%;
    }

    &.small {
        width: 33.33%  
    }

    &.medium {
        width: 58.33%
    }

    &.large {
        width: 83.33%
    }
}
