.row {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 0 0 auto;
        width: 50%;
        padding: 0 0 .625rem 0;
    }
}

.col {
    display: flex;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &.extra-small {
        width: 8.33%;
    }

    &.small {
        width: 33.33%  
    }

    &.medium {
        width: 58.33%
    }

    &.large {
        width: 83.33%
    }

    &.small-flex {
        flex: 0 0 auto;
        width: 25%;
    }

    &.medium-flex {
        flex: 0 0 auto;
        flex-direction: column;
        padding: 3rem 0;
        width: 50%;
    }
}
