.row {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
}

.col {
    display: flex;
    padding: .625rem;

    @media screen and (max-width: 768px) {
        width: 50%;
    }

    &.extra-small {
        width: 8.33%;
    }

    &.small {
        width: 33.33%  
    }

    &.medium {
        width: 58.33%
    }

    &.large {
        width: 83.33%
    }
}
