.footer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(198, 198, 215, 0.8) 100%);

    &__nav-sections {
        .nav-item > a {
            // color: $dark;
            font-size: 0.9rem;
            padding: 0.25rem 0;
            display: inline-block;
        }
    }
    &__nav-header {
        opacity: 0.4;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bolder;
    }
    &__logo {
        background: url(/sourcegraph-logo.svg) no-repeat;
        background-size: 200px;
        height: 40px;
    }
    &__social,
    &__postscript {
        .nav-item > a {
            // color: $text-muted;
            &:hover {
                // color: rgba($text-muted, 0.8);
            }
        }
    }
    &__social {
        .nav-item > a {
            padding: 0.3rem 0.3rem;
        }
    }
    &__postscript {
        .nav-item > a {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0.375rem;
            padding-right: 0.375rem;
        }
    }

    &__newsletter-form-heading {
        opacity: 0.4;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bolder;
    }
}