h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

table {
    line-height: 2;

    @media screen and (max-width: 767px) {
        line-height: 1.5;
    }

    th, td {
        padding: 0 1rem;

        @media screen and (max-width: 767px) {
            padding: unset;
        }
    }
}
