h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

body {
    font-family: "Open Sans","Arial","Helvetica",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .015rem;
    line-height: 1.5;
    color: #212529;
}

