:root {
    --bs-font-sans-serif: "Open Sans", "Arial", "Helvetica", sans-serif;
}
code {
    font-family: monospace;
    font-size: inherit;
    color: #000000;
    background: #E7E7E7;
  }

  pre {
    background-color: #E7E7E7;
    overflow: auto;
    font-family: 'Monaco', monospace;
    padding: 10px;
    border-radius:10px;
  }

.reveal-on-hover-child {
  visibility: hidden;
}

.reveal-on-hover-parent:hover .reveal-on-hover-child {
  visibility: visible;
}

// Table of contents styles
.toc-wrapper {
  @media screen and (max-width: 768px) {
    display: none;
  }

  .header {
    margin-top: 30px;
  }

  ul {
    display: inline;
    list-style-type: none;
    
    li {
      padding-bottom: 10px;

      a {
        text-decoration: none;
      }
    }
  }
}
